<%- include("partials/header"); -%>

    <h1>Compose</h1>
    
    <form action="/compose" method="post">
      <div class="mb-3">
        <label for="postTitle" class="form-label">Title</label>
        <input type="text" class="form-control" id="postTitle" name="composeTitle">
      </div>
      <div class="mb-3">
        <label for="postText" class="form-label">Post</label>
        <textarea name="composeText" class="form-control" id="postText" rows="5"></textarea>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary" name="submit">Publish</button>
      </div>
    </form>

<%- include("partials/footer"); -%>
